<%# CSS・・・assets/stylesheets/shared/header.css %>
<div class='font'>
<header class='top-page-header'>
 <div class='nav'>
   <div class='left-content'>
     <%= link_to image_tag("logo_black.png", class:"clotheseal-icon"), "/" %>
   </div>
    <ul class='lists-right'>
      <% if user_signed_in? %>
      <div class='clothes-item'>
       <li><%= "#{current_user.nickname}さん"%></li>
      </div>
       <li><%= link_to '+写真', new_cloth_path, class: "clothes-item"%></li> 
       <li><%= link_to 'My Page', "/users/#{current_user.id}", class: "user-page"%></li> 
       <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "clothes-item"%> </li> 
       <% else %>
       <li><%= link_to 'ログイン', new_user_session_path, class: "clothes-item" %></li>
       <li><%= link_to '新規登録', new_user_registration_path, class: "clothes-item" %></li>
       <% end %>
    </ul>
  </div>
</header>
</div>